@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 80px; /* spazio per navbar fissa */
}

a {
  color: inherit;
  text-decoration: none;
}
